


/*Header Section*/




.contact-form {

    margin: 0 auto;
    margin-top: 100px;
    display: flex;
  
    }




.Contact-Container{

background-image: linear-gradient(rgba(61, 53, 53, 0.5), rgba(36, 33, 33, 0.39)), url('../images/contact_us.jpg');
background-position: center;
margin-bottom: 30px;
padding-top: 40px;


}

#map {
    height: 400px; /* Adjust the height as needed */
    width: 400px;   /* Make the map container fill the width of its parent element */
   
  }

  