


/*Header Section*/




.contact-form{
    

 
    margin-top: 100px;
    display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column;
  
    }





#map {
    height: 350px; /* Adjust the height as needed */
    width: 350px;   /* Make the map container fill the width of its parent element */
   
  }

  .Contact_Us{
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
 margin-bottom: 50px;
    border-radius: 10px;

  }

  .FORM{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .Email_btn{
padding: 5px;
border-radius: 20px 2px 20px 2px;

  }









  @media screen and (max-width:350px) {

    #map {
    height: 300px; /* Adjust the height as needed */
    width: 300px;   /* Make the map container fill the width of its parent element */
   
   
  }
  #map iframe {
    height: 300px; /* Adjust the height as needed */
    width: 300px;   /* Make the map container fill the width of its parent element */
   
  }

  }