
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



/* The hero image */
.hero-image {
  margin-top: 100px;
  background-image:  url("../images/services.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(215, 238, 12);

}



  





/* Services section */

#Our-Services{

  display: flex;
    justify-content: center;
    align-items: center;
}

.Service-box{

  background-color:#1e9ac0fd;

}

.text-yellow{

  color: rgb(14, 11, 11);
  font-size: 1.04rem;
}
.Service-box:hover{
 
  transform: scale(1.1);
  transition: ease-in 1s;
  
}



