#services {}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: #2ac5ed;
    font-weight:bold;
}   



/*Header Section*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#222831;
    padding: 10px 30px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
  
  /* Adjust as needed */
 /* Adjust as needed */
   
    
    
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  
}
.logo img{
    height: 80px;
    width: 130px;
    border-radius: 10px;
}

.Top-Links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}

.Top-Links a{
    color: white;
    text-decoration: none;
    
}
.top-btn{
    height: 35px;
    width: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Top-Links a:hover{
    box-shadow: 0 0 10px rgba(247, 247, 247, 0.76);
    background-color: #ffffff ;
    color: #222831;
   
}





.Chat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 4px;
}
.Chat:hover{
    background-color: #222831;
    box-shadow: 0 0 10px rgba(218, 210, 210, 0.904);
    color: white;

}

/*  Main-Home-Section */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


